
.link-item-tags-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#login-form {
  min-width: 200px;
}

.top-centered-notification {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  min-width: 300px;
  max-width: 50vw;
  text-align: center;
}
